<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
    <h1 class="text-center mt-3">帳戶登入</h1>
      {{> message}}
    <form action="/users/login" method="POST">
        <div class="mb-3">
          <label for="email" class="mb-2">帳號</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="xxx@xxx.com">
        </div>
        <div class="mb-3">
          <label for="password" class="mb-2">密碼</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="請輸入您的密碼">
        </div>
        <button type="submit" class="btn btn-warning">登入</button>
      </form>
      <p class="lead mt-4">
        沒有帳號? <a href="/users/register">註冊</a>
      </p>
    </div>
  </div>
</div>
